* {
  font-family: "Rubik", sans-serif;
}

main {
  margin: 80px 0px 80px 250px;
}

body {
  background-image: url(../images/back3.jpg);
  background-size: cover;
}

/*------------ SECTION 1: NAME ----------------- */
.name {
  background-image: url(../images/gray2.jpg);
  width: 960px;
  height: 424px;
  position: relative;
}

.logo {
  padding: 15px;
  position: absolute;
  left: 30%;
  width: 300px;
}

.me {
  font-family: sans-serif;
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 20px;
  color: #829fd9;
}

.me h1 {
  color: #5c73f2;
  font-size: 30px;
}

.avatar img {
  position: absolute;
  top: 250px;
  right: 30px;
  width: 150px;
  border-radius: 500%;
}

/*------------------------------------*/

/*---- SECTION 2: INFO ---------------  */

.info {
  background-color: #829fd9;
  padding: 20px;
  width: 920px;
  height: 320px;
}

.info h2 {
  border-bottom: 3px solid black;
  padding: 0px 2px 5px;
}

.button_cv {
  color: white;
  background-color: #f25ca2;
  padding: 15px;
  font-size: 15px;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0px 5px 9px rgb(0, 0, 0, 0.4);
}

/*--------------------------------*/

/*--------- SECTION 3: SKILLS ------------*/

.skills {
  background-color: #5c73f2;
  padding: 20px;
  width: 920px;
  height: 320px;
  position: relative;
}

.skills h2 {
  border-bottom: 3px solid black;
  padding: 0px 2px 5px;
}

.skills-wrapper {
  padding: 10px;
  display: flex;
  position: absolute;
  bottom: 15px;
  top: 100px;
  right: 250px;
  font-size: 20px;
}

.skills-left {
  padding-right: 30px;
}

progress {
  margin: 0 0 15px 0;
}

.skills-wrapper ul {
  list-style: url(../images/listicon.png);
}

/*--------------------------------*/
/*------------ SECTION 4: PORTFOLIO ----------*/

.portfolio {
  background-color: rgb(51, 84, 255);
  padding: 20px;
  width: 920px;
  height: 320px;
  position: relative;
}

.portfolio h2 {
  border-bottom: 3px solid black;
  padding: 0px 2px 5px;
}

.portfolio-wrapper {
  padding: 10px;
  position: absolute;
  display: flex;
  position: absolute;
  bottom: 15px;
  top: 100px;
  right: 300px;
}

.portfolio li {
  margin: 0 10px 18px 0;
}

.portfolio ul {
  list-style: none;
}

/*--------------------------------*/
/*------------ SECTION 5: CLIENTS --------------*/

.clients {
  background-color: #3e38f2;
  padding: 20px;
  width: 920px;
  height: 200px;
  position: relative;
}

.clients h2 {
  border-bottom: 3px solid black;
  padding: 0px 2px 5px;
}

.clients-wrapper {
  padding: 10px;
  position: absolute;
  display: flex;
  position: absolute;
  bottom: 50px;
  top: 100px;
  right: 160px;
}

.clients-wrapper div {
  margin: 0 50px 5px 0;
  box-shadow: 0px 5px 9px rgb(0, 0, 0, 0.8);
}

/*--------------------------------*/
/*----------- SECTION 6: CONTACT ----------*/

.contact {
  background-color: rgb(10, 89, 89);
  padding: 20px;
  width: 920px;
  height: 550px;
  position: relative;
}

.contact h2 {
  border-bottom: 3px solid black;
  padding: 0px 2px 5px;
}

form {
  padding: 10px;
  position: absolute;
  bottom: 50px;
  top: 100px;
  right: 350px;
}

textarea {
  resize: none;
}

input {
  padding: 8px 2px;
}

.submit1 {
  color: hotpink;
  font-weight: bold;
  font-size: 15px;
  padding: 8px 14px;
  border-radius: 10px;
}

/*14 December 2019_Sem3_Form */

input:focus:valid {
  border: 3px solid #4cb1f7;
  background: #0233cb;
}

input:focus:invalid {
  border: 3px solid #f20732;
  background: #f25ca2;
}
label {
  background: white;
  color: rgb(104, 104, 104);
  padding: 8px;
  font-size: 13px;
}

.submit1:hover {
  background-color: rgb(67, 70, 64);
}
.button_cv:hover {
  background-color: rgb(252, 54, 146);
}
